:root { 
--gray_51:#f9f9f9; 
--bluegray_50:#f1f1f1; 
--light_blue_100:#c4f4ff; 
--black_900_70:#00131570; 
--gray_50:#f0fdff; 
--pink_A200:#ff4f6e; 
--black_900:#061417; 
--black_901:#001517; 
--gray_901:#091d22; 
--gray_902:#091e22; 
--blue_200_3f:#95ccff3f; 
--amber_600:#ffaf00; 
--gray_900_66:#00191c66; 
--gray_900:#07181b; 
--cyan_400_7f:#2cd1e37f; 
--teal_A100:#a2fff9; 
--white_A700_66:#ffffff66; 
--bluegray_300_2b:#75abb12b; 
--cyan_100:#b8f8ff; 
--black_900_72:#00151772; 
--black_900_73:#0b0b0b72; 
--cyan_50:#cffaff; 
--cyan_701:#008f9f; 
--white_A700:#ffffff; 
--cyan_700:#009dae; 
--black_900_ce:#1b0307ce; 
--cyan_400:#2cd1e3; 
}