
 @font-face { font-style : bold; src: url("assets/fonts/RobotoRomanBold.ttf"); font-family : "Roboto"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/UbuntuBold.ttf"); font-family : "Ubuntu"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/UbuntuRegular.ttf"); font-family : "Ubuntu"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/NunitoRegular.ttf"); font-family : "Nunito"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/UbuntuMedium.ttf"); font-family : "Ubuntu"; font-weight : 500;  }